<h1>Citas</h1>

<table class="table table-default">
  <thead>
    <tr>
      <th>Asunto</th>
      <th>Fecha</th>
      <th>Confirmada</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meets.each do |meet| %>
      <tr>
        <td><%= meet.subject %></td>
        <td><%= meet.meeting %></td>
        <td><%= meet.status %></td>
        <td><%= meet.name %></td>
        <td><%= link_to 'Ver', meet %></td>
        <td><%= link_to 'Editar', edit_meet_path(meet) %></td>
        <td><%= link_to 'Eliminar', meet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Cita', new_meet_path, class: 'btn btn-default' %>
